# Use this file as a template for accounts.py
accounts = [
    {
        'username': 'GODADDY_USERNAME',
        'password': 'GODADDY_PASSWORD',
        'domains': ['domain1.com', 'domain2.com']
    }
]
